div .piece {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: darkkhaki;
    display:inline-block;
    transition-duration: 0.2s;
}
div .piece:hover {
    height: 60px;
    width: 60px;
    margin: 5px;

}
div .piece.red{
    background-color: darkred;
}
div .piece.blue{
    background-color: cornflowerblue;
}
div .piece.green{
    background-color: darkseagreen;
}

input[type=range] {
    display: block;
    width: 100%;
}
